<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/scss/navbar.css">
    <link rel="stylesheet" type="text/css" href="/scss/blogs.css">
    <title>Blogs</title>

    <style>
        



    
    </style>

</head>
<bod>
    <% include ./partials/navbar %>

    <main>
        <div class="createNewPost">
            <a class = "goblogpage" href="/homepage/createnewblog"> POST AN ARTICLE </a>
        </div>

    <% include ./partials/messages %>
    
    <section class="allposts">
        <% art.forEach(article => { %>
            <div class="each_post">
                <input type="hidden" value="<%=article._id%>" class="hiddenData">
                <div class="user_img">
                    <img src="/profilePicture/<%=article.userPropicURL  %> " alt=" <%= article.userName%> " class="user_image">
                </div>
                <div class="other_details">
                    <div class="title" id = "titleID"> <strong><%= article.username%></strong>&nbsp;just posted an Article on&nbsp;<strong>"<%= article.postTitle%>" </strong> </div>
                    <div class="post__time"> <%= article.date%></div>
                </div>
            </div>           
        <% }) %>

    </section>

    <!-- <div class = "remain r1">

        <h1> "POST AN ARTICLE" is working..... </h1>
        <h1> After learning jQuery AJAX, will do the "Article showing" part.... </h1>
        <h1> Now Working On "Courses".... </h1>

    </div>


    <div class = "remain r2">

        <h1> "POST AN ARTICLE" is working..... </h1>
        <h1> After learning jQuery AJAX, will do the "Article showing" part.... </h1>
        <h1> Now Working On "Courses".... </h1>

    </div> -->

    </main>

    <% include ./partials/disappearFlask %>

    <script type="text/javascript" src="/js/clamp.js"></script>

    <script>
        $(".allposts .each_post:odd").addClass("animated-even");
        $(".allposts .each_post:even").addClass("animated-odd");


        $(".each_post").click(function (e) {
            window.location = "/homepage/blogs/"+ (e.currentTarget.childNodes[1].value);
        })

    </script>
</body>
</html>